*{box-sizing: border-box}
body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.topnav {
    overflow: hidden;
    background-color: #333;
}

.topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 25px;
}

.topnav a:hover {
    background-color: #ddd;
    color: black;
}

.topnav a.active {
    background-color: red;
    color: white;
}

main {
    max-width: 1200px;
    margin: 0 auto;
}


section.content p{
    font-size: 50px;
    font-family: serif;

    color: black;
}


section.vid-grid {
    display: grid;
    grid-template-columns: 1fr;
    margin: 0 auto;
    gap: 20px;
    max-width: 1080px;
    width: 100%;
    padding: 1rem;
}

@media (min-width: 680px) {
    section.vid-grid {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
    }
}

@media (min-width: 3000px) {
    section.vid-grid { display: flex;
        flex-direction: row;
    gap: 10px}
}


section.vid-grid .img-item{
    aspect-ratio: 16/9;
    width: 100%;
    position: relative;

}

section.vid-grid .img-item img{
    width: 100%;
    height: 100%;
    position: relative;
}

footer {
    width: 100%;
    height: 40px;
    background: gray;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.video{
    width: 100%;
    height: 360px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.lyrics{
    width: 800px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin:0 auto;
    padding: 1rem;
}

.lyrics p {
    width: 100%;
}
section.content h1{
    font-size: 50px;
    font-family: 'Segoe UI', sans-serif;
    color: white;

}
h1{
    text-align: center;
    width: 100%;
}
section.content h2{
    font-size: 30px;
    font-family: 'Segoe UI', sans-serif;
    color: white;
}

section.content p{
    font-size: 24px;
    font-family: serif;
    justify-content: center;
    color: white;
}
